/* -----------------------------------------------------
# Product Style 7 
* -----------------------------------------------------*/
.product-style-7{
    position: relative;
    background: #fff;
    z-index: 1;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: all .3s linear;
}

.product-style-7:hover {
    border: 1px solid #ebebeb;
}

.product-style-7 .img-block{
    position: relative;
}

.product-style-7 .img-block a{
    color:inherit;
    text-decoration: none;
}

.product-style-7 .img-block a img{
    width: 100%;
    margin: 0;
    transition: all .3s linear;
}

.product-style-7 .img-block .second-img {
    position: absolute;
    opacity: 0;
    transition: all .3s linear;
    left: 0;
    max-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
}

.product-style-7:hover .second-img {
    opacity: 1;
    visibility: visible;
}

.product-style-7 .img-block .quick-view {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    line-height: 1;
}

.product-style-7 .img-block .quick-view a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: 0 0;
    color: #47494a;
    padding: 0;
    border: none;
    padding: 0;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    pointer-events: visible;
    opacity: 0;
    transform: scale3d(0,0,0);
}

.product-style-7:hover .quick-view a {
    opacity: 1;
    transform: scale3d(1,1,1);
}

.product-style-7 .new {
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: capitalize;
    text-align: center;
    z-index: 1;
    background: #146cda;
}

.product-style-7 .product-decs {
    padding: 15px;
}

.product-style-7 .product-decs a {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
    color: #146cda;
}

.product-style-7 .product-decs h3 {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

.product-style-7 .product-decs h3 a {
    line-height: 18px;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    color: #47494a;
    font-size: 14px;
    text-transform: capitalize;
}

.product-style-7 .product-decs .rating-product {
    margin-bottom: 10px;
}

.product-style-7 .product-decs .rating-product i {
    overflow: hidden;
    margin: 0 1px 0 0;
    display: inline-block;
    color: #666;
    font-weight: 400;
    line-height: 1;
    vertical-align: top;
    font-size: 18px;
}

.product-style-7 .product-decs .pricing-meta {
    line-height: 20px;
    transition: all .3s linear;
}

.product-style-7 .product-decs .pricing-meta ul{
    margin:0;
    padding: 0;
    list-style: none;
}

.product-style-7 .product-decs .pricing-meta li.old-price.not-cut {
    text-decoration: none;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
}

.product-style-7:hover .pricing-meta {
    opacity: 0;
    transform: translateY(15px);
    transition: all .3s linear;
}

.product-style-7 .add-to-link {
    margin-top: -30px;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    background: #fff;
    padding: 0 15px 15px 15px;
    border: 1px solid #ebebeb;
    border-top: transparent;
    border-radius: 0 0 5px 5px;
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(15px) translateZ(0);
    -webkit-transform: translateY(15px) translateZ(0);
    perspective: 800px;
    -webkit-perspective: 800px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: opacity .3s ease,visibility .3s ease,transform .3s ease;
}

.product-style-7 .add-to-link ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.product-style-7 .add-to-link li {
    display: inline-flex;
    line-height: 1;
    margin-right: 3px;
    transition: all .3s linear;
}

.product-style-7 .add-to-link a {
    display: inline-block;
    color: #fff;
    border: none;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    background: #146cda;
}

.product-style-7:hover .add-to-link {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) translateZ(0);
}

/* -----------------------------------------------------
# Product Style 8 
* -----------------------------------------------------*/
.product-style-8{
    position: relative;
    margin-bottom: 60px;
}
.product-style-8 .product-thumb{
    position: relative;
    margin-bottom: 15px;
}

.product-style-8 .product-thumb a{
    text-decoration: none;
    color:inherit;
    text-decoration: none;
}

.product-style-8 .product-thumb a img{
    display:block;
    width: 100%;
    transition: all 0.3s ease-out 0s;
}

.product-style-8 .product-thumb .second-img{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.product-style-8:hover .second-img{
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.product-style-8 .product-thumb .product-action{
    position: absolute;
    bottom: 37px;
    right: 15px;
    background: #ffffff;
    margin: 0;
    padding: 2px 13px;
    text-align: center;
    z-index: 11;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-out 0s;
}

.product-style-8:hover .product-action{
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.product-style-8 .product-thumb .product-action a {
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
    display: block;
    line-height: 37px;
    height: 37px;
    width: 20px;
    color: #444;
    font-weight: 400;
}

.product-style-8 .product-thumb .product-action a:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.product-style-8 .product-thumb .product-sale{
    display: table;
    position: absolute;
    text-align: center;
    top: 36px;
    right: -20px;
    z-index: 2;
    min-width: 100px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.product-style-8 .product-thumb .product-sale span{
    position: relative;
    background: #f88101;
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: 400;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    min-width: 50px;
    border-radius: 0;
    min-height: auto;
    border: 0;
}

.product-style-8 .product-thumb .product-sale span::before {
    border: 5px solid #f88101;
    border-color: #f88101 transparent transparent #bc8246;
    border-width: 9px 5px;
    position: absolute;
    right: -10px;
    top: 0;
    content: "";
    z-index: 1;
}

.product-style-8 .product-thumb .product-sale span::after {
    border: 5px solid #f88101;
    border-color: transparent transparent #f88101 #f88101;
    border-width: 10px 5px;
    position: absolute;
    right: -10px;
    bottom: 0;
    content: "";
    z-index: 1;
}

.product-style-8 .product-thumb .product-sale span.percent {
    background: #201f1f;
}

.product-style-8 .product-thumb .product-sale span.percent::before {
    border: 5px solid #201f1f;
    border-color: #201f1f transparent transparent #201f1f;
    border-width: 9px 5px;
}

.product-style-8 .product-thumb .product-sale span.percent::after {
    border: 5px solid #201f1f;
    border-color: transparent transparent #201f1f #201f1f;
    border-width: 10px 5px;
}

.product-style-8 .product-decs{
    position: relative;
}

.product-style-8 .product-decs h3{
    font-size: 14px;
    font-weight: 400;
    color: #444;
    margin-bottom: 3px;
}

.product-style-8 .product-decs h3 a{
    text-decoration: none;
    color: inherit;
    outline: none;
    border: none;
}

.product-style-8 .product-decs .product-price{
    position: absolute;
    bottom: -30px;
    left: 0;
}

.product-style-8 .product-decs .product-price span {
    font-size: 14px;
    color: #201f1f;
    font-weight: 500;
    margin-right: 7px;
}

.product-style-8 .product-decs .product-price span.old-price {
    color: #8c8c8c;
    text-decoration: line-through;
}

.product-style-8:hover .product-price{
    bottom: -10px;
    visibility: hidden;
    opacity: 0;
}

.product-style-8 .product-decs .add-cart {
    bottom: -40px;
    left: 0;
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

.product-style-8 .add-cart a {
    font-weight: 500;
    color: #201f1f;
    position: relative;
    font-size: 14px;
    text-decoration: none;
}

.product-style-8 .add-cart a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background: #201f1f;
}

.product-style-8:hover .add-cart {
    visibility: visible;
    opacity: 1;
    bottom: -30px;
}

/* -----------------------------------------------------
# Product Style 9 
* -----------------------------------------------------*/
.product-style-9{
    position: relative;
}

.product-style-9 .product-img{
    position: relative;
    overflow: hidden;
}

.product-style-9 .product-img img{
    width: 100%;
    display: block;
}

.product-style-9 .product-img a{
    display: block;
    text-decoration: none;
    color:#222;
}

.product-style-9 .product-img .second-img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
}

.product-style-9 .product-img .second-img img {
    transition: all 5s;
    width: 100%;
    display: block;
}

.product-style-9 .product-img:hover .second-img{
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

.product-style-9 .product-img:hover .second-img img {
    transform: scale(1.2);
    width: 100%;
}

.product-style-9 .product-img .product-img-link{
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    position: absolute;
    color: #666;
    padding: 10px;
    left: 0;
    right: 0;
    bottom: -45px;
    transition: all 0.5s;
    width: 100%;
    background-color: #ffffffde;
    text-transform: capitalize;
}

.product-style-9:hover .product-img-link{
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.product-style-9 .product-desc{
    margin-top: 15px;
    padding-bottom: 20px;
}

.product-style-9 .product-desc .product-desc-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-style-9 .product-desc .product-desc-top .categories a {
    padding-right: 3px;
    position: relative;
}

.product-style-9 .product-desc .product-desc-top a {
    font-size: 12px;
    color: #6c6b6b;
    font-weight: 400;
    line-height: 21.4286px;
    display: inline-block;
    text-decoration: none;
}

.product-style-9 .product-desc a.product-title{
    color: #333;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 5px;
    display: block;
    line-height: 16.8px;
    font-weight: 400;
    text-decoration: none;
}

.product-style-9 .product-desc a.product-title h3{
    font-size: 16px;
}

.product-style-9 .product-desc .price-switcher{
    height: 35px;
    overflow: hidden;
    position: relative;
}

.product-style-9 .product-desc .price-switcher .switcher-item:first-child {
    position: absolute;
    left: 0;
    top: 50%;
}

.product-style-9 .product-desc .price-switcher span.price {
    font-size: 14px;
    color: #888;
}

.product-style-9 .product-desc .price-switcher .switcher-item {
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    transition: all 0.5s;
}

.product-style-9 .product-desc .price-switcher .switcher-item:last-child {
    top: 150%;
}

.product-style-9 .product-desc .price-switcher a.add-cart {
    color: #666;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 2px;
    text-decoration: none;
}

.product-style-9 .product-desc .price-switcher a.add-cart::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.8px;
    background-color: #666;
    content: "";
}

.product-style-9:hover .price-switcher .switcher-item:first-child {
    top: -50%;
}

.product-style-9:hover .price-switcher .switcher-item:last-child {
    top: 50%;
}

.product-style-9 .product-desc .price-switcher a.add-cart:hover {
    color: #eb2323;
}

/* -----------------------------------------------------
# Product Style 10
* -----------------------------------------------------*/
.product-style-10{
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 30px;
    transition: all .3s ease-out;
}

.product-style-10:hover {
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
}

.product-style-10 .product-img{
    position: relative;
}

.product-style-10 .product-img a{
    transition: all 0.3s ease-out 0s;
    display: block;
    text-decoration: none;
}

.product-style-10 .product-img a img{
    transition: all 0.3s ease-out 0s;
    width: 100%;
    max-width: 100%;
}

.product-style-10 .product-img .product-img-hover{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.product-style-10 .product-img .product-img-hover a{
    display: block;
}

.product-style-10 .product-img .product-img-hover a img{
    width:100%;
    max-width: 100%;
    opacity: 0;
    transition: .3s;
}

.product-style-10:hover .product-img-hover a img {
    opacity: 1;
}

.product-style-10 .product-img .product-img-hover .single-product-button{
    position: absolute;
    display:flex;
    margin:0;
    padding:0;
    bottom: 25px;
    left: 55%;
    transform: translate(-50%);
    opacity: 0;
    transition: .5s;
}

.product-style-10 .product-img .product-img-hover .single-product-button li{
    list-style: none;
}

.product-style-10 .product-img .product-img-hover .single-product-button li a{
    display: block;
}

.product-style-10 .product-img .product-img-hover .single-product-button li a i{
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: #222;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

.product-style-10:hover .single-product-button {
    left: 50% !important;
    opacity: 1 !important;
}

.product-style-10 .product-desc{
    position: relative;
}

.product-style-10 .product-desc .product-name{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.product-style-10 .product-desc .product-name a{
    text-decoration: none;
    color:inherit;
}

.product-style-10 .product-desc .product-price{
    padding-left: 20px;
    display: inline-block;
}

.product-style-10 .product-desc .product-price span{
    font-weight: 500;
    font-size: 14px;
    color: #222;
}

.product-style-10 .product-desc .product-price .old-price{
    color: #999999;
}

.product-style-10 .sale-tag{
    color:#fff;
    width: 50px;
    height: 50px;
    background-color: #222;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    font-size: 13px;
    top: 10px;
    left: 10px;
    z-index: 1;
}