html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.px-100{
    padding: 100px 0;
}
.py-100{
    padding:0 100px;
}
.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*************************************
***** carousel css start here 
*************************************/
.product{
    width:100%;
}
.product .product-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow:hidden;
}
.product .product-wrapper .thumbnail-wrapper{
    position: relative;
    overflow: hidden;
}
.product .product-wrapper .thumbnail-wrapper a{
    position: relative;
    display: block;
    text-decoration: none;
    z-index: 2;
    transition: 300ms ease 0s;
}
.product .product-wrapper .thumbnail-wrapper a .thumbnail-image{
    position: relative;
    display: inline-block;
    width: 100%;
}
.product .product-wrapper .thumbnail-wrapper a .thumbnail-image img{
    width:100%;
}
.product .product-wrapper .thumbnail-wrapper a .thumbnail-image img.img-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.product .product-wrapper .thumbnail-wrapper a .thumbnail-image:hover .img-hover{
    display: inline;
}
.product .product-wrapper .thumbnail-wrapper .product-label{
    position: absolute;
    right: auto;
    left: 10px;
    top: 10px;
    bottom: auto;
    z-index: 2;
    text-align: center;
}
.product .product-wrapper .thumbnail-wrapper .product-label span{
    width: auto;
    min-width: 50px;
    min-height: 20px;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    padding: 0;
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 20px !important;
    margin-bottom: 3px;
    border-radius: 20px;
}
.product .product-wrapper .thumbnail-wrapper .product-label .onsale {
    color: rgba(255,255,255,1);
    background: rgba(217,18,31,1);
}
.product .product-wrapper .thumbnail-wrapper .product-label .featured{
    color: rgba(255,255,255,1);
    background: rgba(25,25,25,1);
}
.product .product-wrapper .thumbnail-wrapper .product-group-button .loop-add-to-cart{
    border-color: rgba(25,25,25,1);
    color: rgba(255,255,255,1);
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    bottom: 0;
    border-radius: 0;
}
.product .product-wrapper .thumbnail-wrapper .product-group-button .loop-add-to-cart a{
    background: rgba(25,25,25,1);
    border-radius: 0;
    border: 0;
    padding: 6px 10px;
    font-size: 18px !important;
    line-height: 28px !important;
    color:inherit;
    display: block;
}
.product .product-wrapper .thumbnail-wrapper:hover .loop-add-to-cart{
    opacity: 1;
}
.product .product-wrapper .meta-wrapper{
    padding-top: 5px;
    overflow: hidden;
}
.product .product-wrapper .meta-wrapper h3.heading-title{
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 8px;
    display: block;
    color:rgba(25,25,25,1);
    text-align: left;
}
.product .product-wrapper .meta-wrapper h3.heading-title a{
    text-decoration: none;
    color:inherit;
}
.product .product-wrapper .meta-wrapper .price{
    display: block;
    text-align: left;
    font-size: 15px;
    line-height: 24px;
}
.product .product-wrapper .meta-wrapper .price del{
    margin-right: 5px;
}
/* ------------------------------------------------
# secound slider 
* ------------------------------------------------*/
.secound-slider{
    position: relative;
}
.secoundCarousel .swiper-slide{
    background-color: transparent;
}

.secoundCarousel .swiper-slide .product-style-2{
    text-align: left;
}
.secoundCarousel .swiper-slide .product-style-2 a{
    text-decoration: none;
    color:inherit;
}

.secoundCarousel .swiper-slide .product-style-2 .product-wrapper .meta-wrapper h3.heading-title{
    font-size: 20px;
    font-weight: 700;
}


.secoundCarousel .swiper-slide .product-style-2 .product-wrapper .meta-wrapper .price {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(188, 94, 73);
    margin-bottom: 8px;
}

.secoundCarousel .swiper-slide .product-style-2 .product-wrapper .product-group-button .loop-add-to-cart a.button {
    border-bottom: 2px solid;
    border-image: initial;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display:inline-block;
    padding-bottom: 4px;
    font-weight: 600;
}