html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.px-100{
    padding: 100px 0;
}
.py-100{
    padding:0 100px;
}
.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*************************************
***** carousel css start here 
*************************************/
.product{
    width:100%;
}
.product .product-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow:hidden;
}
.product .product-wrapper .thumbnail-wrapper{
    position: relative;
    overflow: hidden;
}
.product .product-wrapper .thumbnail-wrapper a{
    position: relative;
    display: block;
    text-decoration: none;
    z-index: 2;
    transition: 300ms ease 0s;
}
.product .product-wrapper .thumbnail-wrapper a .thumbnail-image{
    position: relative;
    display: inline-block;
    width: 100%;
}
.product .product-wrapper .thumbnail-wrapper a .thumbnail-image img{
    width:100%;
}
.product .product-wrapper .thumbnail-wrapper a .thumbnail-image img.img-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.product .product-wrapper .thumbnail-wrapper a .thumbnail-image:hover .img-hover{
    display: inline;
}
.product .product-wrapper .thumbnail-wrapper .product-label{
    position: absolute;
    right: auto;
    left: 10px;
    top: 10px;
    bottom: auto;
    z-index: 2;
    text-align: center;
}
.product .product-wrapper .thumbnail-wrapper .product-label span{
    width: auto;
    min-width: 50px;
    min-height: 20px;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    padding: 0;
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 20px !important;
    margin-bottom: 3px;
    border-radius: 20px;
}
.product .product-wrapper .thumbnail-wrapper .product-label .onsale {
    color: rgba(255,255,255,1);
    background: rgba(217,18,31,1);
}
.product .product-wrapper .thumbnail-wrapper .product-label .featured{
    color: rgba(255,255,255,1);
    background: rgba(25,25,25,1);
}
.product .product-wrapper .thumbnail-wrapper .product-group-button .loop-add-to-cart{
    border-color: rgba(25,25,25,1);
    color: rgba(255,255,255,1);
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    bottom: 0;
    border-radius: 0;
}
.product .product-wrapper .thumbnail-wrapper .product-group-button .loop-add-to-cart a{
    background: rgba(25,25,25,1);
    border-radius: 0;
    border: 0;
    padding: 6px 10px;
    font-size: 18px !important;
    line-height: 28px !important;
    color:inherit;
    display: block;
}
.product .product-wrapper .thumbnail-wrapper:hover .loop-add-to-cart{
    opacity: 1;
}
.product .product-wrapper .meta-wrapper{
    padding-top: 5px;
    overflow: hidden;
}
.product .product-wrapper .meta-wrapper h3.heading-title{
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 8px;
    display: block;
    color:rgba(25,25,25,1);
    text-align: left;
}
.product .product-wrapper .meta-wrapper h3.heading-title a{
    text-decoration: none;
    color:inherit;
}
.product .product-wrapper .meta-wrapper .price{
    display: block;
    text-align: left;
    font-size: 15px;
    line-height: 24px;
}
.product .product-wrapper .meta-wrapper .price del{
    margin-right: 5px;
}
/* ------------------------------------------------
# secound slider 
* ------------------------------------------------*/
.secound-slider{
    position: relative;
}
.secoundCarousel .swiper-slide{
    background-color: transparent;
}

.secoundCarousel .swiper-slide .product-style-2{
    text-align: left;
}
.secoundCarousel .swiper-slide .product-style-2 a{
    text-decoration: none;
    color:inherit;
}

.secoundCarousel .swiper-slide .product-style-2 .product-wrapper .meta-wrapper h3.heading-title{
    font-size: 20px;
    font-weight: 700;
}


.secoundCarousel .swiper-slide .product-style-2 .product-wrapper .meta-wrapper .price {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(188, 94, 73);
    margin-bottom: 8px;
}

.secoundCarousel .swiper-slide .product-style-2 .product-wrapper .product-group-button .loop-add-to-cart a.button {
    border-bottom: 2px solid;
    border-image: initial;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display:inline-block;
    padding-bottom: 4px;
    font-weight: 600;
}
/* ------------------------------------------------
# Third slider 
* ------------------------------------------------*/
.third-slider{
    position: relative;
}
.thirdCarousel .swiper-slide{
    background-color: transparent;
}
.product-default{
    color: #777;
}

.product-default:hover {
    z-index: 2;
}

.product figure{
    margin:0px;
    margin-bottom: 14px;
}
.product-default a{
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.product-default a:hover {
    color: #000;
    text-decoration: none;
}

.product-default figure img{
    transition: opacity 1s;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.product-default figure img:first-child {
    opacity: 1;
    position: relative;
}

.product-default figure img:last-child {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
}

.product-default:hover figure img:first-child {
    opacity: 0;
}

.product-default:hover figure img:last-child {
    opacity: 1;
}

.product-default .label-group {
    position: absolute;
    top: .8rem;
    left: .8rem;
}

.product-default .product-label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding: 5px 11px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
}

.product-default .product-label.label-hot {
    background-color: #62b959;
}

.product-default .product-label.label-sale {
    background-color: #000;
}

.left-details .product-details {
    -ms-flex-align: start;
    align-items: flex-start;
}

.product-default .product-details {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.product-default .category-list {
    font-weight: 400;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    line-height: 1.7;
    opacity: .8;
    text-align: left;
    text-transform: uppercase;
}

.product-details .product-title {
    max-width: 100%;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    line-height: 1.35;
    margin-bottom: .5rem;
    font-family: Poppins,sans-serif;
    letter-spacing: -.01em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left-details .ratings-container {
    margin: 0 0 13px 0;
}

.price-box {
    margin-bottom: 14px;
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
    line-height: 1;
}

.product-price {
    color: #222529;
    font-size: 16px;
    line-height: .8;
}
.product-default .product-action {
    color: #333;
    text-align: center;
}

.product-default:hover .btn-add-cart {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.left-details .btn-add-cart {
    margin-left: 0;
    padding: 0 14px;
}

.product-default .btn-add-cart {
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    line-height: 34px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    transition: all .25s ease;
}

.left-details .btn-icon-wish, .left-details .btn-quickview, .left-details .btn-add-cart {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    color: black;
}

.product-default .btn-icon-wish, .product-default .btn-quickview {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0 2px;
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    opacity: 0;
    transition: .65s;
    transform: translateX(200%);
}

.left-details .btn-icon-wish:hover, .left-details .btn-quickview:hover, .left-details .btn-add-cart:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.product-default:hover .product-action a {
    transform: translateX(0);
    opacity: 1;
}
/* ------------------------------------------------
# Four slider 
* ------------------------------------------------*/
.product-style-4{
    overflow: hidden;
}

.product-style-4 .product-wrapper .product-thumb{
    overflow: hidden;
    position: relative;
}

.product-style-4 .product-wrapper .product-thumb .image{
    position: relative;
    display: block;
    overflow:hidden
}
.product-style-4 .product-wrapper .product-thumb .image img {
    z-index: 1;
    max-width: 100%;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.product-style-4 .product-wrapper .product-thumb .image img.hover-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0;
}

.product-style-4:hover .product-thumb .image img {
    transform: scale(1.1) rotate(3deg);
}

.product-style-4:hover .product-thumb .image img:not(:last-child) {
    opacity: 0;
    transition: .5s all ease-in-out;
}

.product-style-4:hover .product-thumb .image img.hover-image {
    opacity: 1;
    transition: .5s all ease-in-out;
}

.product-style-4 .product-thumb .badges {
    position: absolute;
    z-index: 8;
    top: 18px;
    left: 18px;
    display: flex;
    flex-direction: column;
}

.product-style-4 .product-thumb .badges span {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    display: block;
    padding: 0 7px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 3px;
    color: #fff;
}

.product-style-4 .product-thumb .badges span.new {
    background-color: #000;
    margin-bottom: 5px;
}

.product-style-4 .product-thumb .badges span.hot {
    background-color: #62b959;
}

.product-style-4 .product-thumb .actions {
    position: absolute;
    z-index: 9;
    top: 18px;
    right: 18px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease 0s;
}

.product-style-4 .product-thumb .actions .action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #212121;
    border-radius: 50%;
    background-color: #fff;
}

.product-style-4 .product-thumb .actions .action i {
    font-size: 14px;
    line-height: 1;
}

.product-style-4 .product-thumb .actions .action:not(.wishlist) {
    visibility: hidden;
    transform: translateY(20px);
    opacity: 0;
}

.product-style-4 .product-thumb .actions .action+.action {
    margin-top: 10px;
}

.product-style-4 .product-thumb .actions .action:hover:not(.active) {
    color: #fff;
    background-color: #ff7004;
}

.product-style-4 .product-thumb .actions .action.active {
    color: #ff7004;
}
.product-style-4 .product-thumb .add-to-cart {
    display: block;
    width: 80%;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    text-align: center;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 11;
    margin: auto;
    font-weight: 600;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    transform: translateY(20px);
    text-decoration: none;
    color: #3f3f3f;
    opacity: 0;
    font-family: Raleway, sans-serif;
}

.product-style-4 .product-thumb .add-to-cart:hover {
    color: #ff7004;
}

.product-style-4:hover .product-thumb .actions .action {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.product-style-4:hover .product-thumb .add-to-cart {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.product-style-4 .product-desc {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 0;
    transition: all 0.3s ease 0s;
    text-align: center;
    background-color: #fff;
    margin-bottom: 5px;
}

.product-style-4 .product-desc .title {
    font-size: 14px;
    margin: 0px 0 10px;
}

.product-style-4 .product-desc .title a{
    text-decoration: none;
    color: #1d1d1d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 16px;
}

.product-style-4 .product-desc .price {
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212121;
    margin:0px 0px 10px 0px;
}

.product-style-4 .product-desc .price span.new {
    color: #3f3f3f;
    font-weight: 500;
}